<h3>{{viewTitle}}</h3>
<form action="/employee" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee.id}}">
    <div class="form-group">
        <label>full name</label>
        <input type="text" class="form-control" name="fullName" value="{{employee.fullName}}">
    </div>
    <div class="text-danger">
        {{employee.fullNameError}}
    </div>
    <div class="form-group">
        <label>email</label>
        <input type="text" class="form-control" name="email" value="{{employee.email}}">
    </div>
    <div class="text-danger">
        {{employee.emailError}}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>mobile</label>
            <input type="text" class="form-control" name="mobile" value="{{employee.mobile}}">
        </div>
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" name="city" value="{{employee.city}}">
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>submit</button>
        <a href="/employee/list"><i class="fa fa-list-alt" </i>View all</a> </div> </form>