<h3><a href="/employee"><i></i>Create New</a>Employee list</h3>
<table>
<thead>
<tr>
<th>Full Name</th>
<th>Email</th>
<th>Mobile</th>
<th>City</th>
<th></th>
</tr>
</thead>
<tbody>
{{#each list}}
<tr>
<td>{{this.fullName}}</td>
<td>{{this.email}}</td>
<td>{{this.mobile}}</td>
<td>{{this.city}}</td>
<td>
<a href="/employee/{{this.id}}"><i></i></a>
<a href="/employee/delete/{{this.id}}"><i></i></a>
</td>
</tr>
{{/each}}
</tbody>
</table>